
dadosRS_binary_matrix_dictionary.ipynb
input_datasets/.DS_Store
.ipynb_checkpoints/covid_dict-checkpoint.ipynb
ococlus/.DS_Store
.DS_Store
.ipynb_checkpoints/dadosRS_binary_matrix_dictionary-checkpoint.ipynb
.DS_Store
